<div class="add-movie">
    <form class="add-movie-form" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label for="movieTitle">Movie Name</label>
            <input type="text" name="movieTitle" [(ngModel)]="movieTitle" id="movieTitle" placeholder="Add Movie Name" />
        </div>
        <div class="form-control">
            <label for="image">Thumbnail Url</label>
            <input type="text" name="image" [(ngModel)]="image" id="image" placeholder="Add Image url" />
        </div>
        <div class="form-control">
            <label for="image">Description</label>
            <input type="text" name="description" [(ngModel)]="description" id="description" placeholder="Add description" />
        </div>
        <input type="submit" value="Add Movie" class="btn btn-block" />
    </form>
</div>
